@font-face {
    font-family: 'GT Walsheim Pro Cond';
    src: url('../fonts/GTWalsheimPro-CondensedMedium.eot');
    src: local('GT Walsheim Pro Condensed Medium'), local('GTWalsheimPro-CondensedMedium'),
        url('../fonts/GTWalsheimPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimPro-CondensedMedium.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro-CondensedMedium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}


body {
    background-color: black;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'GT Walsheim Pro Cond';
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;

}

.header {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.sub_header {
    width: 100%;
    text-align: center;
}

.DP_Header a {
    font-size: 40px;
    color: #D52727;
    width: fit-content;
    font-weight: bold;
    text-decoration: none;
}

.DP_Header a:hover {
    color: white;
}


.sub_header a {
    font-size: 16px;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.sub_header a:hover {
    text-decoration: underline;
}

.sub_header a.active {
    background-color:#ddd;
    color: white;
}

#connect_button {
    padding: 15px;
    background-color: #D52727;
}

#intro_text {
    animation: fade-in 1s forwards;
    text-align: center;
    font-size: 44px;
    width: 100%;    
    margin-top: 30px;
    margin-bottom: 20px;
    color: #D52727;    
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.media_links {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s forwards;
    margin: 0;
}

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #D52727;
    color: white;
}

.media_links a:hover {
    transform: scale(1.1);
}

.project_box {
    animation: fade-in 1s forwards;
    font-size: 24px;
    margin: 20px;
}

.project_text {
    color: white;
    font-size: 18px;
}

.project_box a {
    color:white; 
    margin: 0; 
    float: left; 
    text-decoration: none;
}

.project_box a:hover {
    text-decoration: underline;
}