@font-face {
    font-family: 'GT Walsheim Pro Cond';
    src: url('../fonts/GTWalsheimPro-CondensedMedium.eot');
    src: local('GT Walsheim Pro Condensed Medium'), local('GTWalsheimPro-CondensedMedium'),
        url('../fonts/GTWalsheimPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimPro-CondensedMedium.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


body {
    background-color: black;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'GT Walsheim Pro Cond';
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.sub_header {
    width: 100%;
    text-align: center;
}

.DP_Header a {
    font-size: 40px;
    color: #D52727;
    width: fit-content;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.DP_Header a:hover {
    color: white;
    transform: scale(1.1);
}


.sub_header a {
    font-size: 16px;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.sub_header a:hover {
    text-decoration: underline;
}

.sub_header a.active {
    background-color: #ddd;
    color: white;
}

#connect_button {
    padding: 15px;
    background-color: #D52727;
}


#intro_text {
    animation: fade-in 1s forwards;
    text-align: center;
    font-size: 36px;
    width: fit-content;
    color: #D52727;
    margin-left: 20px;
    margin-bottom: 0;
}

.sub_content {
    animation: fade-in 1s forwards;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.technical_container {
    animation: fade-in 1s forwards;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 0;
}

.technical_container p {
    margin-bottom: 10px;
}

.info {
    animation: fade-in 1s forwards;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


.content_after_colon {
    color: white;
}

.title_text {
    color: #D52727;
    padding-right: 10px;
}

.column {
    width: 50%;
    list-style: disc;
    padding: 0;
    margin: 0;
    column-count: 2;
    column-fill: balance;
    margin-left: 20px;
    margin-top: 10px;
}


li {
    color: white;
    padding-bottom: 10px;
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}